[book]
title = "计算机网络：自顶向下方法（第8版）- 笔记"
authors = ["PrettyC"]
description = "计算机网络：自顶向下方法（第8版）读书笔记"
language = "en"
src = "src"

[build]
build-dir = "book"
create-missing = true
use-default-preprocessors = true

[preprocessor.plantuml]
plantuml-cmd = "plantuml"
#command = "mdbook-plantuml -l"  # This enables debug logging and creates a file output.txt
clickable-img = false
use-data-uris = true
piped = true

[preprocessor.katex]
after = ["links"]

[preprocessor.repl]
# iframe url, default is https://mr-addict.github.io/mdbook-repl/embed/
src = "https://mr-addict.github.io/mdbook-repl/embed/"

# python is disabled by default and loading is lazy
python.enable = true
python.loading = "lazy"

# typescript is disabled by default and loading is lazy
typescript.enable = true
typescript.loading = "lazy"

# javascript is disabled by default and loading is lazy
javascript.enable = true
javascript.loading = "lazy"